Repository chas-academy/u10-business-idea-snusmumriken-barn, pull requests merged in 2021-05, with the labels that each got.

#58 Favourites
  backend/app/Http/Controllers/FavouritesController.php
  backend/app/Models/Favourites.php
  backend/app/Models/Snus.php
  backend/app/Models/User.php
  backend/database/factories/FavouritesFactory.php
  backend/database/seeders/DatabaseSeeder.php
  backend/routes/api.php
Labels: Backend, enhancement

#89 Translations for Home, Login, Navbar, Snusforum, Snus. Added checkbox…
  frontend/src/App.js
  frontend/src/components/Register.js
  frontend/src/components/Snus.js
  frontend/src/components/SnusForumCategory.js
Labels: Frontend

#104 Fav
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/Favourites.js
  frontend/src/components/Home.js
  frontend/src/components/Profile.js
  frontend/src/components/RenderFav.js
  frontend/src/components/RenderSnus.js
  frontend/src/components/Snus.js
  frontend/src/index.js
  frontend/src/services/delete-favourite.js
  package-lock.json
Labels: Frontend, enhancement
